In [45]:
import pandas as pd

In [46]:
df_도서관 = pd.read_csv('../data/도서관수.csv')
df_목욕탕 = pd.read_csv('../data/목욕탕 수.csv')
df_영화관 = pd.read_csv('../data/영화관수.csv')
df_유적지 = pd.read_csv('../data/유적지수.csv')
df_지역축제 = pd.read_csv('../data/지역축제 수.csv')
df_테마파크 = pd.read_csv('../data/테마파크 수.csv')

In [47]:
df_영화관.drop('Unnamed: 0', axis=1, inplace=True)
df_영화관

     자치구  영화관 수
0    종로구      6
1     중구      9
2    용산구      3
3    성동구      2
4    광진구      6
5   동대문구      1
6    중랑구      3
7    성북구      2
8    강북구      3
9    도봉구      2
10   노원구      5
11   은평구      2
12  서대문구      5
13   마포구      8
14   양천구      2
15   강서구      6
16   구로구      3
17   금천구      2
18  영등포구      3
19   동작구      2
20   관악구      2
21   서초구      3
22   강남구     10
23   송파구      4
24   강동구      3

In [48]:
df_영화관 = df_영화관.sort_values(by='자치구')
df_영화관

     자치구  영화관 수
22   강남구     10
24   강동구      3
8    강북구      3
15   강서구      6
20   관악구      2
4    광진구      6
16   구로구      3
17   금천구      2
10   노원구      5
9    도봉구      2
5   동대문구      1
19   동작구      2
13   마포구      8
12  서대문구      5
21   서초구      3
3    성동구      2
7    성북구      2
23   송파구      4
14   양천구      2
18  영등포구      3
2    용산구      3
11   은평구      2
0    종로구      6
1     중구      9
6    중랑구      3

In [49]:
df_도서관.rename(columns={'구명':'도서관 수'}, inplace=True)
df_도서관

   Unnamed: 0  도서관 수
0         강남구     15
1         구로구     13
2         성북구     13
3         송파구     12
4         양천구     10
5         강동구     10
6         강서구      9
7         종로구      9
8         노원구      9
9         서초구      9
10        도봉구      9
11         중구      8
12       동대문구      8
13        은평구      8
14        광진구      7
15        동작구      7
16        성동구      7
17        강북구      7
18        마포구      6
19       영등포구      5
20        관악구      5
21        중랑구      5
22        용산구      4
23       서대문구      4
24        금천구      4

In [50]:
df_도서관.sort_values(by='Unnamed: 0', inplace=True)
df_도서관

   Unnamed: 0  도서관 수
0         강남구     15
5         강동구     10
17        강북구      7
6         강서구      9
20        관악구      5
14        광진구      7
1         구로구     13
24        금천구      4
8         노원구      9
10        도봉구      9
12       동대문구      8
15        동작구      7
18        마포구      6
23       서대문구      4
9         서초구      9
16        성동구      7
2         성북구     13
3         송파구     12
4         양천구     10
19       영등포구      5
22        용산구      4
13        은평구      8
7         종로구      9
11         중구      8
21        중랑구      5

In [51]:
df_목욕탕.sort_values(by='Unnamed: 0', inplace=True)
df_목욕탕

   Unnamed: 0  목욕탕 수
0         강남구    404
7         강동구    162
16        강북구    125
12        강서구    153
8         관악구    160
11        광진구    155
15        구로구    129
24        금천구     89
21        노원구    113
23        도봉구     90
22       동대문구    108
20        동작구    116
14        마포구    129
17       서대문구    125
3         서초구    187
10        성동구    158
2         성북구    201
1         송파구    229
19        양천구    124
6        영등포구    165
5         용산구    170
13        은평구    134
9         종로구    159
4          중구    185
18        중랑구    125

In [52]:
df_유적지.sort_values(by='자치구', inplace=True)
df_유적지

    Unnamed: 0   자치구  유적지 수
6            6   강남구      6
18          18   강동구      1
9            9   강북구      4
13          13   강서구      2
16          16   관악구      1
12          12   광진구      2
14          14   구로구      2
20          20   금천구      0
2            2   노원구      8
19          19   도봉구      1
8            8  동대문구      4
7            7   동작구      5
17          17   마포구      1
10          10  서대문구      3
5            5   서초구      6
21          21   성동구      0
15          15   성북구      2
3            3   송파구      8
22          22   양천구      0
23          23  영등포구      0
4            4   용산구      7
24          24   은평구      0
0            0   종로구     72
1            1    중구     20
11          11   중랑구      2

In [53]:
df_유적지.drop('Unnamed: 0', axis=1, inplace=True)
df_유적지

     자치구  유적지 수
6    강남구      6
18   강동구      1
9    강북구      4
13   강서구      2
16   관악구      1
12   광진구      2
14   구로구      2
20   금천구      0
2    노원구      8
19   도봉구      1
8   동대문구      4
7    동작구      5
17   마포구      1
10  서대문구      3
5    서초구      6
21   성동구      0
15   성북구      2
3    송파구      8
22   양천구      0
23  영등포구      0
4    용산구      7
24   은평구      0
0    종로구     72
1     중구     20
11   중랑구      2

In [54]:
df_지역축제.sort_values(by='Unnamed: 0', inplace=True)
df_지역축제

   Unnamed: 0  축제 수
14        강남구    80
12        강동구    91
11        강북구    97
24        강서구    22
13        관악구    84
9         광진구   113
5         구로구   150
18        금천구    47
8         노원구   128
7         도봉구   136
15       동대문구    80
21        동작구    28
3         마포구   252
23       서대문구    23
6         서초구   150
10        성동구   105
20        성북구    40
4         송파구   184
16        양천구    50
22       영등포구    27
17        용산구    50
2         은평구   258
0         종로구   926
1          중구   399
19        중랑구    43

In [55]:
df_테마파크.drop('Unnamed: 0', axis=1, inplace=True)
df_테마파크.sort_values(by='자치구', inplace=True)
df_테마파크

     자치구  테마파크 수
10   강남구       0
5    강동구       1
7    강북구       1
11   강서구       0
12   관악구       0
0    광진구       4
13   구로구       0
9    금천구       0
6    노원구       1
14   도봉구       0
15  동대문구       0
16   동작구       0
17   마포구       0
18  서대문구       0
19   서초구       0
20   성동구       0
2    성북구       3
4    송파구       2
21   양천구       0
3   영등포구       2
22   용산구       0
8    은평구       1
23   종로구       0
1     중구       3
24   중랑구       0

In [56]:
df_테마파크

     자치구  테마파크 수
10   강남구       0
5    강동구       1
7    강북구       1
11   강서구       0
12   관악구       0
0    광진구       4
13   구로구       0
9    금천구       0
6    노원구       1
14   도봉구       0
15  동대문구       0
16   동작구       0
17   마포구       0
18  서대문구       0
19   서초구       0
20   성동구       0
2    성북구       3
4    송파구       2
21   양천구       0
3   영등포구       2
22   용산구       0
8    은평구       1
23   종로구       0
1     중구       3
24   중랑구       0

In [57]:
result = pd.concat([df_도서관, df_목욕탕], axis=1)
result

   Unnamed: 0  도서관 수 Unnamed: 0  목욕탕 수
0         강남구     15        강남구    404
5         강동구     10        용산구    170
17        강북구      7       서대문구    125
6         강서구      9       영등포구    165
20        관악구      5        동작구    116
14        광진구      7        마포구    129
1         구로구     13        송파구    229
24        금천구      4        금천구     89
8         노원구      9        관악구    160
10        도봉구      9        성동구    158
12       동대문구      8        강서구    153
15        동작구      7        구로구    129
18        마포구      6        중랑구    125
23       서대문구      4        도봉구     90
9         서초구      9        종로구    159
16        성동구      7        강북구    125
2         성북구     13        성북구    201
3         송파구     12        서초구    187
4         양천구     10         중구    185
19       영등포구      5        양천구    124
22        용산구      4       동대문구    108
13        은평구      8        은평구    134
7         종로구      9        강동구    162
11         중구      8        광진구    155
21        중랑구      5        노원구    113

In [61]:
df_영화관.set_index('자치구',inplace = True)
df_영화관

      영화관 수
자치구
강남구      10
강동구       3
강북구       3
강서구       6
관악구       2
광진구       6
구로구       3
금천구       2
노원구       5
도봉구       2
동대문구      1
동작구       2
마포구       8
서대문구      5
서초구       3
성동구       2
성북구       2
송파구       4
양천구       2
영등포구      3
용산구       3
은평구       2
종로구       6
중구        9
중랑구       3

In [63]:
result.set_index('Unnamed: 0', inplace=True)
result

             도서관 수  목욕탕 수
Unnamed: 0
(강남구, 강남구)      15    404
(강동구, 용산구)      10    170
(강북구, 서대문구)      7    125
(강서구, 영등포구)      9    165
(관악구, 동작구)       5    116
(광진구, 마포구)       7    129
(구로구, 송파구)      13    229
(금천구, 금천구)       4     89
(노원구, 관악구)       9    160
(도봉구, 성동구)       9    158
(동대문구, 강서구)      8    153
(동작구, 구로구)       7    129
(마포구, 중랑구)       6    125
(서대문구, 도봉구)      4     90
(서초구, 종로구)       9    159
(성동구, 강북구)       7    125
(성북구, 성북구)      13    201
(송파구, 서초구)      12    187
(양천구, 중구)       10    185
(영등포구, 양천구)      5    124
(용산구, 동대문구)      4    108
(은평구, 은평구)       8    134
(종로구, 강동구)       9    162
(중구, 광진구)        8    155
(중랑구, 노원구)       5    113

In [62]:
result1 = pd.concat([result, df_영화관], axis=1)
result1

     Unnamed: 0  도서관 수 Unnamed: 0  목욕탕 수  영화관 수
0           강남구   15.0        강남구  404.0    NaN
5           강동구   10.0        용산구  170.0    NaN
17          강북구    7.0       서대문구  125.0    NaN
6           강서구    9.0       영등포구  165.0    NaN
20          관악구    5.0        동작구  116.0    NaN
14          광진구    7.0        마포구  129.0    NaN
1           구로구   13.0        송파구  229.0    NaN
24          금천구    4.0        금천구   89.0    NaN
8           노원구    9.0        관악구  160.0    NaN
10          도봉구    9.0        성동구  158.0    NaN
12         동대문구    8.0        강서구  153.0    NaN
15          동작구    7.0        구로구  129.0    NaN
18          마포구    6.0        중랑구  125.0    NaN
23         서대문구    4.0        도봉구   90.0    NaN
9           서초구    9.0        종로구  159.0    NaN
16          성동구    7.0        강북구  125.0    NaN
2           성북구   13.0        성북구  201.0    NaN
3           송파구   12.0        서초구  187.0    NaN
4           양천구   10.0         중구  185.0    NaN
19         영등포구    5.0        양천구  124.0    NaN
22          용산구    4.0       동대문구  108.0    NaN
13          은평구    8.0        은평구  134.0    NaN
7           종로구    9.0        강동구  162.0    NaN
11           중구    8.0        광진구  155.0    NaN
21          중랑구    5.0        노원구  113.0    NaN
강남구         NaN    NaN        NaN    NaN   10.0
강동구         NaN    NaN        NaN    NaN    3.0
강북구         NaN    NaN        NaN    NaN    3.0
강서구         NaN    NaN        NaN    NaN    6.0
관악구         NaN    NaN        NaN    NaN    2.0
광진구         NaN    NaN        NaN    NaN    6.0
구로구         NaN    NaN        NaN    NaN    3.0
금천구         NaN    NaN        NaN    NaN    2.0
노원구         NaN    NaN        NaN    NaN    5.0
도봉구         NaN    NaN        NaN    NaN    2.0
동대문구        NaN    NaN        NaN    NaN    1.0
동작구         NaN    NaN        NaN    NaN    2.0
마포구         NaN    NaN        NaN    NaN    8.0
서대문구        NaN    NaN        NaN    NaN    5.0
서초구         NaN    NaN        NaN    NaN    3.0
성동구         NaN    NaN        NaN    NaN    2.0
성북구         NaN    NaN        NaN    NaN    2.0
송파구         NaN    NaN        NaN    NaN    4.0
양천구         NaN    NaN        NaN    NaN    2.0
영등포구        NaN    NaN        NaN    NaN    3.0
용산구         NaN    NaN        NaN    NaN    3.0
은평구         NaN    NaN        NaN    NaN    2.0
종로구         NaN    NaN        NaN    NaN    6.0
중구          NaN    NaN        NaN    NaN    9.0
중랑구         NaN    NaN        NaN    NaN    3.0

In [65]:
df_도서관.rename(columns={'Unnamed: 0':'자치구'}, inplace=True)
df_도서관.set_index('자치구', inplace=True)
df_도서관

      도서관 수
자치구
강남구      15
강동구      10
강북구       7
강서구       9
관악구       5
광진구       7
구로구      13
금천구       4
노원구       9
도봉구       9
동대문구      8
동작구       7
마포구       6
서대문구      4
서초구       9
성동구       7
성북구      13
송파구      12
양천구      10
영등포구      5
용산구       4
은평구       8
종로구       9
중구        8
중랑구       5

In [67]:
df_목욕탕.rename(columns={'Unnamed: 0':'자치구'}, inplace=True)
df_목욕탕.set_index('자치구', inplace=True)
df_목욕탕

      목욕탕 수
자치구
강남구     404
강동구     162
강북구     125
강서구     153
관악구     160
광진구     155
구로구     129
금천구      89
노원구     113
도봉구      90
동대문구    108
동작구     116
마포구     129
서대문구    125
서초구     187
성동구     158
성북구     201
송파구     229
양천구     124
영등포구    165
용산구     170
은평구     134
종로구     159
중구      185
중랑구     125

In [68]:
df_영화관

      영화관 수
자치구
강남구      10
강동구       3
강북구       3
강서구       6
관악구       2
광진구       6
구로구       3
금천구       2
노원구       5
도봉구       2
동대문구      1
동작구       2
마포구       8
서대문구      5
서초구       3
성동구       2
성북구       2
송파구       4
양천구       2
영등포구      3
용산구       3
은평구       2
종로구       6
중구        9
중랑구       3

In [70]:
df_유적지.set_index('자치구', inplace=True)
df_유적지

      유적지 수
자치구
강남구       6
강동구       1
강북구       4
강서구       2
관악구       1
광진구       2
구로구       2
금천구       0
노원구       8
도봉구       1
동대문구      4
동작구       5
마포구       1
서대문구      3
서초구       6
성동구       0
성북구       2
송파구       8
양천구       0
영등포구      0
용산구       7
은평구       0
종로구      72
중구       20
중랑구       2

In [72]:
df_지역축제.rename(columns={'Unnamed: 0':'자치구'}, inplace=True)
df_지역축제.set_index('자치구', inplace=True)
df_지역축제

      축제 수
자치구
강남구     80
강동구     91
강북구     97
강서구     22
관악구     84
광진구    113
구로구    150
금천구     47
노원구    128
도봉구    136
동대문구    80
동작구     28
마포구    252
서대문구    23
서초구    150
성동구    105
성북구     40
송파구    184
양천구     50
영등포구    27
용산구     50
은평구    258
종로구    926
중구     399
중랑구     43

In [74]:
df_테마파크.set_index('자치구', inplace=True)
df_테마파크

      테마파크 수
자치구
강남구        0
강동구        1
강북구        1
강서구        0
관악구        0
광진구        4
구로구        0
금천구        0
노원구        1
도봉구        0
동대문구       0
동작구        0
마포구        0
서대문구       0
서초구        0
성동구        0
성북구        3
송파구        2
양천구        0
영등포구       2
용산구        0
은평구        1
종로구        0
중구         3
중랑구        0

In [75]:
result = pd.concat([df_도서관, df_목욕탕, df_영화관, df_유적지, df_지역축제, df_지역축제], axis=1)
result

      도서관 수  목욕탕 수  영화관 수  유적지 수  축제 수  축제 수
자치구
강남구      15    404     10      6    80    80
강동구      10    162      3      1    91    91
강북구       7    125      3      4    97    97
강서구       9    153      6      2    22    22
관악구       5    160      2      1    84    84
광진구       7    155      6      2   113   113
구로구      13    129      3      2   150   150
금천구       4     89      2      0    47    47
노원구       9    113      5      8   128   128
도봉구       9     90      2      1   136   136
동대문구      8    108      1      4    80    80
동작구       7    116      2      5    28    28
마포구       6    129      8      1   252   252
서대문구      4    125      5      3    23    23
서초구       9    187      3      6   150   150
성동구       7    158      2      0   105   105
성북구      13    201      2      2    40    40
송파구      12    229      4      8   184   184
양천구      10    124      2      0    50    50
영등포구      5    165      3      0    27    27
용산구       4    170      3      7    50    50
은평구       8    134      2      0   258   258
종로구       9    159      6     72   926   926
중구        8    185      9     20   399   399
중랑구       5    125      3      2    43    43

In [76]:
df2 = pd.read_csv('../data/여가시설+체육시설_전처리.csv')
df2

,자치구,공연시설수,전시시설수,관광지 수,공원 수,동/식물원/휴양림 수,음식점 수,패션/미용소비 수,대형소비시설 수,간이운동장 수,체육도장 수,골프/골프연습장 수,당구장 수,수영장 수,체력단련장 수
0,종로구,329,176,151,85,6,6442,2207,3,28,23,33,88,3,62
1,중구,104,126,4,95,6,6363,4489,108,3,31,93,170,9,115
2,용산구,149,104,4,102,2,5693,1612,4,8,32,41,42,7,80
3,성동구,165,95,4,92,1,5278,1505,4,0,52,54,71,6,82
4,광진구,78,115,12,80,1,6227,2235,7,5,82,56,129,9,122
5,동대문구,21,140,6,100,0,6064,2089,8,5,70,45,83,7,89
6,중랑구,21,116,4,123,0,5107,2072,2,7,84,34,106,4,77
7,성북구,73,173,7,62,1,5789,2147,21,40,117,49,133,9,94
8,강북구,20,106,10,109,3,4712,1545,8,40,64,22,94,2,56
9,도봉구,16,118,3,97,1,3810,1441,1,78,83,36,100,3,66
10,노원구,24,205,9,228,2,5473,2246,23,40,137,86,110,8,90
11,은평구,35,185,12,136,1,5884,2289,6,27,98,48,120,5,99
12,서대문구,68,129,3,124,1,5008,1461,28,23,63,27,58,3,49
13,마포구,507,133,8,134,1,9470,2449,2,100,81,76,81,7,150
14,양천구,46,149,3,138,0,4744,2020,5,2,141,91,105,17,132
15,강서구,97,210,2,257,1,8160,2817,3,73,165,144,139,15,225
16,구로구,52,167,2,100,2,6073,2010,10,54,96,92,127,6,107
17,금천구,41,80,1,91,0,4568,1822,10,35,56,45,123,2,53
18,영등포구,145,165,5,144,1,8541,2629,25,64,88,127,150,8,145
19,동작구,44,171,3,110,0,4459,1514,2,39,83,45,80,5,91
20,관악구,44,196,5,151,0,6969,2477,6,3,85,49,77,7,129
21,서초구,416,196,3,155,4,8133,3056,28,166,117,188,210,14,253
22,강남구,1374,267,2,198,6,15139,5937,142,110,147,432,177,13,399
23,송파구,97,258,12,256,1,9811,3408,30,10,180,291,206,18,295
24,강동구,38,169,3,166,3,6555,2683,8,5,121,80,112,5,120

In [77]:
df2.sort_values(by='자치구', inplace=True)
df2.set_index('자치구', inplace=True)
df2

,공연시설수,전시시설수,관광지 수,공원 수,동/식물원/휴양림 수,음식점 수,패션/미용소비 수,대형소비시설 수,간이운동장 수,체육도장 수,골프/골프연습장 수,당구장 수,수영장 수,체력단련장 수
자치구,,,,,,,,,,,,,,
강남구,1374,267,2,198,6,15139,5937,142,110,147,432,177,13,399
강동구,38,169,3,166,3,6555,2683,8,5,121,80,112,5,120
강북구,20,106,10,109,3,4712,1545,8,40,64,22,94,2,56
강서구,97,210,2,257,1,8160,2817,3,73,165,144,139,15,225
관악구,44,196,5,151,0,6969,2477,6,3,85,49,77,7,129
광진구,78,115,12,80,1,6227,2235,7,5,82,56,129,9,122
구로구,52,167,2,100,2,6073,2010,10,54,96,92,127,6,107
금천구,41,80,1,91,0,4568,1822,10,35,56,45,123,2,53
노원구,24,205,9,228,2,5473,2246,23,40,137,86,110,8,90
도봉구,16,118,3,97,1,3810,1441,1,78,83,36,100,3,66
동대문구,21,140,6,100,0,6064,2089,8,5,70,45,83,7,89
동작구,44,171,3,110,0,4459,1514,2,39,83,45,80,5,91
마포구,507,133,8,134,1,9470,2449,2,100,81,76,81,7,150
서대문구,68,129,3,124,1,5008,1461,28,23,63,27,58,3,49
서초구,416,196,3,155,4,8133,3056,28,166,117,188,210,14,253
성동구,165,95,4,92,1,5278,1505,4,0,52,54,71,6,82
성북구,73,173,7,62,1,5789,2147,21,40,117,49,133,9,94
송파구,97,258,12,256,1,9811,3408,30,10,180,291,206,18,295
양천구,46,149,3,138,0,4744,2020,5,2,141,91,105,17,132
영등포구,145,165,5,144,1,8541,2629,25,64,88,127,150,8,145
용산구,149,104,4,102,2,5693,1612,4,8,32,41,42,7,80
은평구,35,185,12,136,1,5884,2289,6,27,98,48,120,5,99
종로구,329,176,151,85,6,6442,2207,3,28,23,33,88,3,62
중구,104,126,4,95,6,6363,4489,108,3,31,93,170,9,115
중랑구,21,116,4,123,0,5107,2072,2,7,84,34,106,4,77

In [78]:
result_final = pd.concat([df2, result], axis=1)
result_final

,공연시설수,전시시설수,관광지 수,공원 수,동/식물원/휴양림 수,음식점 수,패션/미용소비 수,대형소비시설 수,간이운동장 수,체육도장 수,골프/골프연습장 수,당구장 수,수영장 수,체력단련장 수,도서관 수,목욕탕 수,영화관 수,유적지 수,축제 수,축제 수
자치구,,,,,,,,,,,,,,,,,,,,
강남구,1374,267,2,198,6,15139,5937,142,110,147,432,177,13,399,15,404,10,6,80,80
강동구,38,169,3,166,3,6555,2683,8,5,121,80,112,5,120,10,162,3,1,91,91
강북구,20,106,10,109,3,4712,1545,8,40,64,22,94,2,56,7,125,3,4,97,97
강서구,97,210,2,257,1,8160,2817,3,73,165,144,139,15,225,9,153,6,2,22,22
관악구,44,196,5,151,0,6969,2477,6,3,85,49,77,7,129,5,160,2,1,84,84
광진구,78,115,12,80,1,6227,2235,7,5,82,56,129,9,122,7,155,6,2,113,113
구로구,52,167,2,100,2,6073,2010,10,54,96,92,127,6,107,13,129,3,2,150,150
금천구,41,80,1,91,0,4568,1822,10,35,56,45,123,2,53,4,89,2,0,47,47
노원구,24,205,9,228,2,5473,2246,23,40,137,86,110,8,90,9,113,5,8,128,128
도봉구,16,118,3,97,1,3810,1441,1,78,83,36,100,3,66,9,90,2,1,136,136
동대문구,21,140,6,100,0,6064,2089,8,5,70,45,83,7,89,8,108,1,4,80,80
동작구,44,171,3,110,0,4459,1514,2,39,83,45,80,5,91,7,116,2,5,28,28
마포구,507,133,8,134,1,9470,2449,2,100,81,76,81,7,150,6,129,8,1,252,252
서대문구,68,129,3,124,1,5008,1461,28,23,63,27,58,3,49,4,125,5,3,23,23
서초구,416,196,3,155,4,8133,3056,28,166,117,188,210,14,253,9,187,3,6,150,150
성동구,165,95,4,92,1,5278,1505,4,0,52,54,71,6,82,7,158,2,0,105,105
성북구,73,173,7,62,1,5789,2147,21,40,117,49,133,9,94,13,201,2,2,40,40
송파구,97,258,12,256,1,9811,3408,30,10,180,291,206,18,295,12,229,4,8,184,184
양천구,46,149,3,138,0,4744,2020,5,2,141,91,105,17,132,10,124,2,0,50,50
영등포구,145,165,5,144,1,8541,2629,25,64,88,127,150,8,145,5,165,3,0,27,27
용산구,149,104,4,102,2,5693,1612,4,8,32,41,42,7,80,4,170,3,7,50,50
은평구,35,185,12,136,1,5884,2289,6,27,98,48,120,5,99,8,134,2,0,258,258
종로구,329,176,151,85,6,6442,2207,3,28,23,33,88,3,62,9,159,6,72,926,926
중구,104,126,4,95,6,6363,4489,108,3,31,93,170,9,115,8,185,9,20,399,399
중랑구,21,116,4,123,0,5107,2072,2,7,84,34,106,4,77,5,125,3,2,43,43

In [79]:
result_final.to_csv('../data/재훈_데이터_합치기_최종.csv')