## SQLite 임포트

In [6]:
import sqlite3

In [7]:
conn = sqlite3.connect('hello_db.db')

In [8]:
cur = conn.cursor()

In [20]:
cur.execute('select * from hello_table')

In [21]:
rows = cur.fetchall()

In [22]:
rows

[(1003, '유부장', 'M', 95), (1001, '박차장', 'M', 80)]

In [17]:
cur.execute('select * from hello_table where name = "유부장"')

In [13]:
rows = cur.fetchall()
rows

[(1003, '유부장', 'M', 95)]

In [14]:
cur.execute("delete from hello_table where name = '정과장'")

In [23]:
cur.execute("update hello_table set grade = 60 where name = '박차장'")

In [24]:
rows = cur.fetchall()
rows

[]

In [25]:
cur.execute('select * from hello_table')
rows = cur.fetchall()
rows

[(1003, '유부장', 'M', 95), (1001, '박차장', 'M', 60)]

In [26]:
cur.execute('update hello_table set name = "박대리" where company_id = 1001')

In [28]:
cur.execute('select * from hello_table')
rows = cur.fetchall()
rows

[(1003, '유부장', 'M', 95), (1001, '박대리', 'M', 60)]

In [29]:
conn.close()

In [30]:
import pandas as pd

In [31]:
df_sample = pd.DataFrame({'A' : [1, 4, 7],
                          'B' : [2, 5, 8],
                          'C' : [3, 6, 9]})
df_sample

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [32]:
conn = sqlite3.connect('hello_db.db')

In [34]:
df_sample.to_sql('sample_table', conn, index=False) # sql locked 이슈

OperationalError: database is locked